
<div class="row">
<div class="col-sm-8 col-sm-offset-2 video-link medium-paragraph">
<br>
	<a href="#" class="launch-modal">
    	<span id="start" class="video-link-icon"><i class="fa fa-play"></i></span> 
    </a>
    <a href="#" class="launch-modal">
    	<span id="stop" class="video-link-icon"><i class="fa fa-pause"></i></span> 
    </a>
    <a href="#" class="launch-modal">
    	<span id="reset" class="video-link-icon"><i class="fa fa-stop"></i></span> 
    </a>
    <a href="#" class="launch-modal">
    	<span id="refresh" class="video-link-icon"><i class="fa fa-refresh"></i></span> 
    </a>
    <br> <br>
    <a href="#" class="launch-modal">
    <div id="count"></div>
    </a>
    <br> <br>
</div>
</div>