<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Facilita Simples</title>

  <!-- styles -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="shortcut icon" href="/assets/ico/favicon.png">

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

</head>
<body>

  <!-- Top content -->
  <div class="top-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1>Prime Numbers</h1>
          <p>
            Atividade feita por Débora F. Dias utilizando Node JS e Socket.io.
          </p>
          <p>
            Iniciar | Pausar | Parar | Reiniciar
          </p>
        </div>
      </div>
      <%- body %>
      <div class="row">
        <div class="col-sm-12 social">
          <a href="http://www.facebook.com/debfdias" target="_blank"><i class="fa fa-facebook"></i></a> <span class="divider-2"></span>
          <a href="http://www.linkedin.com/in/debfdias" target="_blank"><i class="fa fa-linkedin"></i></a> <span class="divider-2"></span>
          <a href="mailto:dfd2@cin.ufpe.br"><i class="fa fa-google"></i></a>
        </div>
      </div>

    </div>
  </div>

   

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/main.js"></script>
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.backstretch.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>